# Example udev rules (usually placed in /etc/udev/rules.d)
# Makes STM32 DfuSe device writeable for the "plugdev" group

ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="05ff", ATTRS{idProduct}=="a001", MODE="666", GROUP="plugdev", TAG+="uaccess"
